 // cores primárias
$primaria-ciano-claro-cor: hsl(193, 38%, 86%);
$primaria-verder-neon-cor: hsl(150, 100%, 66%);
 // cores neutras
$neutra-azul-acinzentado-cor: hsl(217, 19%, 38%);
$neutra-azul-acinzentado-escuro-cor: hsl(217, 19%, 24%);
$neutra-azul-escuro: hsl(218, 23%, 16%);